<button class="waves-effect waves-light btn" ng-click="back()">Back</button>
<div class="menu">
    <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="associate.pass">
        <label for="password">Employee ID</label>
        <button class="waves-effect waves-light btn" ng-click="login()">Login</button>
        <p style='color: white'>*** USE 1234 for testing ***</p>
        <p><span style='color:red'><b><i>{{errors}}</i></b></span></p>
    </div>
</div>
